@import url(https://fonts.googleapis.com/css?family=Roboto+Mono:400,500);

body {
	font-family: Verdana;
	font-size: 1em;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #fff;
	background-color: #334;
	min-width: 1000px;
}

h1 {
	margin-top: 10px;
}

.highscore-map {
	display: inline-block;
	background-color: #111;
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	vertical-align: top;
}

.highscore-map .title {
	font-size: 1.3em;
	text-align: center;
}

.highscore-map .header-item th {
	font-weight: normal;
}

.highscore-map table {
	border-collapse: collapse;
}

.highscore-map table thead {
	text-align: left;
}

.highscore-map table th, table td {
	padding: 5px;
}

.highscore-map table thead .primary{
	background-color: #333;
}

.highscore-map table thead .secondary{
	background-color: #222;
}

.invisible {
	opacity: 0; 
	position: absolute; 
	left: -99999px;
}


/* Preload font */
#name {
	font-family: 'Roboto Mono';
}
